<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title> Server controller </title>

        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/> 
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="lib/jquery.terminal/css/jquery.terminal-0.11.3.css"/>
        <link rel="stylesheet" href="css/dashboard.css"/>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CloudController</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><%= user.name.split(' ')[0] %> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="active">Dashboard</li>
            </ol>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> System informations </h3>
                        </div>
            
                        <div class="panel-body">
                            <div class="information-row row">
                                <div class="information-title">Memory Usage</div>
                                <div class="information-content">
                                    <%= ( (1 - (systemInfo.freemem / systemInfo.totalmem)) * 100) %> %
                                </div>
                            </div>
                            <div class="information-row row">
                                <div class="information-title">Uptime</div>
                                <div class="information-content">
                                    <%= systemInfo.uptime %>
                                </div>
                            </div>
                            <div class="information-row row">
                                <div class="information-title">CPUs</div>
                                <div class="information-content">
                                    <%= systemInfo.cpus.length %>
                                </div>
                            </div>
                            <div class="information-row row">
                                <div class="information-title">Hostname</div>
                                <div class="information-content">
                                    <%= systemInfo.hostname %>
                                </div>
                            </div>
                            <div class="information-row row">
                                <div class="information-title">Platform</div>
                                <div class="information-content">
                                    <%= systemInfo.platform %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Quick Console </h3>
                        </div>

                        <div class="panel-body">
                            <div class="console-window">
                                <div class="shell-wrap">
                                    <ul class="shell-body" id="terminal">
                                        <li>Loading</li>
                                    </ul>
                                </div>
                                <div class="console-form">
                                    <div class="row">
                                        <input type="text" placeholder="Type a command" class="form-control input-sm"/>
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-send"></i> &nbsp; Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPTS -->
        <script type="javascript" src="lib/jquery/dist/jquery.js"></script>
        <script type="javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="js/dashboard.js"></script>
    </body>
</html>