<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title> Sign Up - Cloud Controller </title>

        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/> 
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/login.css"/>

       
    </head>

    <body>
        <div class="container-fluid">
            <div class="login-container">
                <div class="login-form panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-group"></i> Sign up</h3>
                    </div>
                
                    <div class="panel-body">

                        <form action="/users/signup" method="post">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" name="name" placeholder="Name"/>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="Email"/>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Password"/>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPTS -->
        
        <script type="javascript" src="js/login.js"></script>
    </body>
</html>