body {
    background-color: #ecf0f1;
}

.information-row {
    width: 95%;
    margin-left: 5px;
    border: 0;
    border-bottom: 1px solid #eee;
}

.information-title {
    float: left;
    font-weight: bold;
}

.information-content {
    float: right;
    width: 55%;
    text-align: right;
}

.console-window {
    margin: 0 10px;
    width: 95%;
}

.console-form input {
    float: left;
    width: 80%;
}

.console-form button {
    float: right;
    width: 19%;
}
.shell-wrap {
  width: 100%;
  margin-bottom: 15px;
  max-height: 150px;
  overflow: scroll;
}
 
.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}
 
.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}
