.login-container {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: #ecf0f1;
}

.login-form {
    max-width: 40%;
    min-width: 350px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-checkbox {
    text-align: left;
    margin-left: 21px;
}